<div style="rgb(204, 102, 153)">
  <div class="row text-center">
  <div class="form-check text-center">
      <label class="form-check-label">
        <input class="form-check-input text-center" type="checkbox" name="item1"> Tejföl
      </label>
    </div>  
  </div>
  <div class="row">
  <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="item1"> Tejföl
      </label>
    </div>  
  </div>
  <div class="row">
  <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="item1"> Tejföl
      </label>
    </div>  
  </div>
  <div class="row">
  <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="item1"> Tejföl
      </label>
    </div>  
  </div>
  </div>
  
  
  <div class="row">
    <div class="col-sm-3 text-center" style="background-color:MediumSeaGreen;"> <b>10.000 Ft</b> </div>
    <div class="col-sm-6 text-center" style="background-color:Tomato;"><b>6.000 Ft</b> </div>
    <div class="col-sm-3 text-center" style="background-color:MediumSeaGreen;"><b>4.000 Ft </b></div>
  </div>
</div>
